<div class="text-center">
    <h1 class="display-4">Creating Coupon</h1>
</div>
<br />
<br />
<div>
    <label for="exampleInputCoupon" class="form-label mt-4">Code</label>
    <input type="number" class="form-control" id="exampleInputCoupon" placeholder="Enter a Number">
</div>
<br />
<br />
<div>
    <label for="exampleInputCoupon" class="form-label mt-4">Limit</label>
    <input type="number" class="form-control" id="exampleInputCoupon" placeholder="Enter a Number">
</div>
<br />
<br />
<div>
    <label for="exampleInputCoupon" class="form-label mt-4">Discount</label>
    <input type="number" class="form-control" id="exampleInputCoupon" placeholder="Enter a Number">
</div>
<br />
<br />
<div>
    <label for="exampleInputCoupon" class="form-label mt-4">Expire Date</label>
    <input type="date" class="form-control" id="exampleInputCoupon" placeholder="Enter a Date">
</div>
<br />
<br />
<div>


    <button type="submit" class="btn btn-primary">Create</button>


</div>