<form action="/Booking/Index">
    <input type="hidden" name="HotelId" value="@Model.Id" />
    <div class="row d-flex mb-3">
        <div class="col-8">
            <input type="number" class="form-control" name="count" placeholder="Count...">
        </div>
        <div class="col-4">
            <button type="submit" class="btn btn-primary">Book </button>
        </div>
    </div>
</form>