html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.amenity-checkbox img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.amenity-checkbox {
    display: flex;
    align-items: center;
}
.main-img {
    width: 100%;
    height: auto;
}

.thumbnail-img {
    max-height: 150px;
    cursor: pointer;
}


.booking-form {
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px #999;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-primary:active {
    background-color: #0056b3;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}
/* General container styling */
.login-container {
    background: linear-gradient(135deg, #ffffff, #f0f8ff);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    margin-top: 50px;
    transition: transform 0.2s;
}

    .login-container:hover {
        transform: scale(1.02);
    }

/* Heading and text styling */
.login-heading {
    font-size: 24px;
    font-weight: bold;
    color: #003580;
}

.login-subheading {
    font-size: 16px;
    color: #6c757d;
}

/* Button styling */
.login-btn {
    background-color: #003580;
    color: #fff;
    border: none;
}

    .login-btn:hover {
        background-color: #0056b3;
    }

/* Input fields styling */
.form-floating .form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
}

    .form-floating .form-control:focus {
        border-color: #003580;
        box-shadow: 0 0 5px rgba(0, 53, 128, 0.5);
    }

/* Validation error messages */
.text-danger {
    font-size: 14px;
}

/* Links styling */
.link-secondary {
    color: #003580;
    text-decoration: none;
}

    .link-secondary:hover {
        text-decoration: underline;
        color: #0056b3;
    }

/* Responsive adjustments */
@media (max-width: 768px) {
    .login-container {
        padding: 20px;
        margin-top: 30px;
    }

    .login-heading {
        font-size: 20px;
    }

    .login-subheading {
        font-size: 14px;
    }
}

